<h2 style = "color:rgb(22, 28, 41)">Car Auctions</h2>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Current Bid</th>
      <th>End Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (c of allAuctions; track $index) {
    <tr>
        <th>{{c.car.make}}</th>
        <th>{{c.car.model}}</th>
        <th>{{c.car.year}}</th>
        <th>{{c.car.color}}</th>
        <th>{{ highestBids[c.carId]}}</th>
        <th>{{c.endTime}}</th>
        <th>{{auctionStatus[c.carId]}}</th>
        <th><button [routerLink]="['/',c.id]" >Details</button></th>
    </tr>
    }
  </tbody>

</table>
